*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1f1f1f;
  --text-color: #fff;
  --margin-padding: 1.2rem;
  --title-size: 4.4rem;
  --text-size: 2.4rem;
  --text-style: Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}
